<% @folder = PulStore::Lae::Folder.new %>
<%= form_for(@folder, remote: true ) do |f| %>
  <% if @folder.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@folder.errors.count, "error") %> prohibited this Folder from being saved:</h2>
      <ul>
      <% @folder.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :barcode %><br>
    <%= f.text_field :barcode %>
  </div>
  <div class="field">
    <%= f.label :genre %><br>
    <%= f.text_field :genre %>
  </div>
  <div id="extent-metadata">
    <!-- required metadata goes here -->
    <% PulStore::Lae::Folder::extent_elements.each do |e| %>
      <div class="field">
        <%= f.label e %><br/>
        <%= f.text_field e %>
      </div>
    <% end %>

    <%= f.hidden_field :box_id, :class => "field", :value => box.id %>

   <div class="actions">
      <%= f.submit %>
   </div>
<% end %>
