<%= form_for(@folder) do |b| %>
  <% if @folder.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@folder.errors.count, "error") %> prohibited this Folder from being saved:</h2>
      <ul>
      <% @folder.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= b.label :barcode %><br>
    <%= b.text_field :barcode %>
  </div>
  <div class="field">
    <%= b.label :error_note %><br>
    <%= b.text_area :error_note %>
  </div>
  <div class="field">
    <%= b.label :rights %><br>
    <%= b.text_area :rights, value: @folder.rights %><br>
  </div>
  <div id="desc-metadata">
    <!-- required metadata goes here -->
    <div class="field">
      <%= b.label :genre %><br>
      <%= b.select(:genre, options_for_select(list_all_genres_as_select_list, [@folder.genre])) %>
    </div>
    <!-- subjects -->
    <%= b.label :subject, "Subjects" %>
    <% if @folder.subject.empty? %>
      <div class="field">
        <%= b.text_field :subject %>
      </div>
    <% end %>

    <% @folder.subject.to_ary.each_with_index do |subject, index| %>
      <div class="field">
        <%= b.text_field "lae_folder[subject][]", value: subject %>
      </div>
    <% end %>
    <!-- Geographic -->
    <%= b.label :geographic, "Geographic" %>
    <% if @folder.geographic.empty? %>
      <div class="field">
        <%= b.text_field :geographic %>
      </div>
    <% end %>

    <% @folder.geographic.to_ary.each_with_index do |geographic, index| %>
      <div class="field">
        <%= b.text_field "lae_folder[geographic][]", value: geographic %>
      </div>
    <% end %>
    <!-- language -->
    <%= b.label :language, "Language" %>
    <% if @folder.language.empty? %>
      <div class="field">
        <%= b.text_field :language %>
      </div>
    <% end %>

    <% @folder.language.each do |lang| %>
      <div class="field">
        <%= b.text_field "language[]", value: lang %>
      </div>
    <% end %>
    <!-- Title -->
    <%= b.label :title, "title" %>
    <% if @folder.title.empty? %>
      <div class="field">
        <%= b.text_field :title %>
      </div>
    <% end %>

    <% @folder.title.each do |title| %>
      <div class="field">
        <%= b.text_field "title[]", value: title %>
      </div>
    <% end %>
    <!-- end mult-value -->
    <!-- date picker -->
    <div class="field date-created">
      <%= b.label :date_created %><br>
      <%= b.text_field :date_created, :class => "datepicker" %>
    </div>
    <!-- Optional Desc. Elements -->
  </div>
  <div id="extent-metadata">
    <!-- required metadata goes here -->
    <% PulStore::Lae::Folder::extent_elements.each do |e| %>
      <div class="field">
        <%= b.label e %><br/>
        <%= b.text_field e %>
      </div>
    <% end %>
  <div class="actions">
    <%= b.submit %>
  </div>

<% end %>
