<%= form_for @folder, html: {:class => '.form-horizontal editor'} do |b| %>
  <% if @folder.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@folder.errors.count, "error") %> prohibited this Folder from being saved:</h2>
      <ul>
      <% @folder.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="row">


  <div id="desc-metadata" class="span6">
    <!-- required metadata goes -->
    <!-- Geographic -->
    <%= render :partial => "records/edit_field", :locals => {:f => b, :render_req => false, :key => :geographic } %>
    <span class="help-block">The Country of Origin.</span>
    <!-- language -->
    <%= render :partial => "records/edit_field", :locals => {:f => b, :render_req => false, :key => :language } %>
    <!-- Title -->
    <div class="control-group">
    <%= b.label :title, "Title", :class=>"control-label" %>
    <% if @folder.title.empty? %>
      <div class="controls">
        <%= text_field_tag "lae_folder[title][]", nil, :id => 'lae_folder_title' %>
      </div>
    <% else %>
      <% @folder.title.to_ary.each_with_index do |title, index| %>
        <div class="controls">
          <%= text_field_tag "lae_folder[title][]", title, :id => 'lae_folder_title' %>
        </div>
      <% end %>
    <% end %>
    </div>
    <!-- sort title -->
    <div class="control-group">
      <%= b.label :sort_title, :class=>"control-label" %>
      <div class="controls">
        <%= b.text_field :sort_title %>
        <span class="help-block">Correct as Needed.</span>
      </div>
    </div>
    <!-- Alternative Title -->
     <%= render :partial => "records/edit_field", :locals => {:f => b, :render_req => false, :key => :alternative_title } %>
    <!-- creator -->
    <div class="control-group">
      <%= b.label :creator, "Creator", :class=>"control-label" %>
      <% @folder.creator.to_ary.each_with_index do |creator, index| %>
        <div class="controls">
        <%= text_field_tag "lae_folder[creator][]", creator, :id =>'lae_folder_creator' %>
        <span class="help-block">Do not use Creator if there is more than one value. Use multiple contributors instead.</span>
      </div>
      <% end %>
      <% if @folder.creator.empty? %>
      <div class="controls">
        <%= text_field_tag "lae_folder[creator][]", nil, :id =>'lae_folder_creator' %>
      </div>
      <%- end %>
    </div>
    <!-- Contributor -->
      <%= render :partial => "records/edit_field", :locals => {:f => b, :render_req => false, :key => :contributor } %>
      <!-- Publisher -->
      <%= render :partial => "records/edit_field", :locals => {:f => b, :render_req => false, :key => :publisher } %>
      <!-- Series -->
      <%= render :partial => "records/edit_field", :locals => {:f => b, :render_req => false, :key => :series } %>
      <!-- Genre -->
    <div class="control-group">
      <%= b.label :genre, :class=>"control-label" %>
      <div class="controls">
        <%= b.select(:genre, options_for_select(list_all_genres_as_select_list, [@folder.genre])) %>
      </div>
    </div>
    <!-- Subject -->
    <%= render :partial => "records/edit_field", :locals => {:f => b, :render_req => false, :key => :subject } %>

    <!-- end mult-value -->
    <!-- Decription -->
    <div class="control-group">
      <%= b.label :description, :class => 'control-label' %>
      <div class="controls">
        <%= b.text_area :description, cols: 50, rows: 6 %>
      </div>
    </div>
    <!-- date created -->
    <div class="control-group">
      <%= b.label :date_created, :class=>"control-label" %>
      <div class="controls">
        <%= b.text_field :date_created, :id => 'lae_folder_date_created' %>
      </div>
    </div>
  </div>
  <div id="admin-metadata" class="span4">
    <div id="admin-metadata">
    <div class="control-group">
      <%= b.label "Folder Number", :class=>"control-label" %>
      <div class="controls">
        <%= b.text_field :physical_number %>
      </div>
      <span class="help-block">Is Part of <%= link_to "Box ", edit_lae_box_path(@folder.box_id) %>.</span>
    </div>

    <div class="control-group">
      <%= b.label :barcode, :class=>"control-label" %>
      <div class="controls">
        <%= b.text_field :barcode %>
      </div>
    </div>
    <div class="control-group">
      <%= b.label :error_note, :class=>"control-label" %>
      <div class="controls">
        <%= b.text_area :error_note, cols: 50, rows: 3 %>
      </div>
    </div>
    <div class="control-group">
      <%= b.label :rights, :class=>"control-label" %>
      <div class="controls">
        <%= b.text_area :rights, cols: 50, rows: 6 %>
      </div>
    </div>
    </div>
    <div id="extent-metadata" class="control-group">
      <% PulStore::Lae::Folder::extent_elements.each do |e| %>
        <div class="control-group">
          <%= b.label e, :class=>"control-label" %>
          <div class="controls">
            <%= b.text_field e %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
 </div>
 <div class="row">
  <div class="actions span2 offset1">
    <%= b.submit :value => "Update Folder", :class => 'btn btn-primary' %>
  </div>
</div>
</div>
<% end %>
