<%= form_for @folder, html: {:class => 'form-horizontal editor'} do |b| %>
  <% if @folder.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@folder.errors.count, "error") %> prohibited this Folder from being saved:</h2>
      <ul>
      <% @folder.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="row">


  <div id="desc-metadata" class="span6">
    <!-- Language -->
    <%= render :partial => "records/edit_field", :locals => {:f => b, :render_req => false, :key => :language } %>

    <!-- Title -->
    <div class="control-group">
    <%= b.label :title, "Title", :class=>"control-label" %>
    <% if @folder.title.empty? %>
      <div class="controls">
        <%= text_field_tag "lae_folder[title][]", nil, :id => 'lae_folder_title' %>
      </div>
    <% else %>
      <% @folder.title.to_ary.each_with_index do |title, index| %>
        <div class="controls">
          <%= text_field_tag "lae_folder[title][]", title, :id => 'lae_folder_title' %>
        </div>
      <% end %>
    <% end %>
    </div>
    <!-- sort title -->
    <div class="control-group">
      <%= b.label :sort_title, :class=>"control-label" %>
      <div class="controls">
        <%= b.text_field :sort_title %>
        <span class="help-block">Correct as Needed.</span>
      </div>
    </div>
    <!-- Alternative Title -->
     <%= render :partial => "records/edit_field", :locals => {:f => b, :render_req => false, :key => :alternative_title } %>
     <!-- Series -->
      <%= render :partial => "records/edit_field", :locals => {:f => b, :render_req => false, :key => :series } %>
    <!-- creator -->
    <div class="control-group">
      <%= b.label :creator, "Creator", :class=>"control-label" %>
      <% @folder.creator.to_ary.each_with_index do |creator, index| %>
        <div class="controls">
        <%= text_field_tag "lae_folder[creator][]", creator, :id =>'lae_folder_creator', placeholder: 'Use if only one author' %>
      </div>
      <% end %>
      <% if @folder.creator.empty? %>
      <div class="controls">
        <%= text_field_tag "lae_folder[creator][]", nil, :id =>'lae_folder_creator', placeholder: 'Use if only one author' %>
      </div>
      <%- end %>
    </div>
    <!-- Contributor -->
      <%= render :partial => "records/edit_field", :locals => {:f => b, :render_req => false, :key => :contributor } %>
      <!-- Publisher -->
      <%= render :partial => "records/edit_field", :locals => {:f => b, :render_req => false, :key => :publisher } %>
      <!-- Geographic Origin -->
      <!-- Geographic -->
      <div class="control-group">
        <%= b.label :geographic_origin, :class=>"control-label" %>
        <div class="controls">
          <%= b.select(:geographic_origin, options_for_select(list_all_areas_as_select_list, [@folder.geographic_origin])) %>
        </div>
      </div>
      <% if !@folder.earliest_created.blank? && !@folder.latest_created.blank? %>
      <% date_range_type_class = "active-date-range" %>
      <% date_created_type_class = "no-active-date-created" %>
      <% date_toggle_message = "Use Single Date" %>
    <% else %>
      <% date_range_type_class = "no-active-date-range" %>
      <% date_created_type_class = "active-date-created" %>
      <% date_toggle_message = "Use Date Range Instead" %>
    <% end %>
    <div class="control-group date-toggle">
      <div class="controls">
        <button id="date-type-toggle" type="button" class="btn"><%= date_toggle_message %></button>
      </div>
    </div>
    <!-- date created -->
    <div class="date-options <%= date_created_type_class %>">
      <div class="control-group" id="date-created">
        <%= b.label :date_created, :class=>"control-label" %>
        <div class="controls">
          <%= b.text_field :date_created, :id => 'lae_folder_date_created', class: 'input-mini', placeholder: 'Date' %>
        </div>
      </div>
    </div>
    <div class="date-options <%= date_range_type_class %>">
    <!-- :earliest_created, :latest_created -->
    <div class="control-group">
      <%= b.label "Date Range", :class=>"control-label" %>
      <div class="controls">
        <div class="input-prepend">
          <%= b.text_field :earliest_created, :id => 'lae_folder_earliest_created', class: 'input-mini', placeholder: 'Start' %>
        </div>
        <div class="input-append">
          <%= b.text_field :latest_created, :id => 'lae_folder_latest_created', class: 'input-mini', placeholder: 'End' %>
        </div>
      </div>
    </div>
  </div>
      <!-- Genre -->
    <div class="control-group">
      <%= b.label :genre, :class=>"control-label" %>
      <div class="controls">
        <%= b.select(:genre, options_for_select(list_all_genres_as_select_list, [@folder.genre])) %>
      </div>
    </div>
    <!-- Subject -->
    <%= render :partial => "records/edit_field", :locals => {:f => b, :render_req => false, :key => :subject } %>
    <!-- Geographic Subject -->
    <%= render :partial => "records/edit_field", :locals => {:f => b, :render_req => false, :key => :geographic_subject } %>

    <!-- Decription -->
    <div class="control-group">
      <%= b.label :description, :class => 'control-label' %>
      <div class="controls">
        <%= b.text_area :description, cols: 50, rows: 6 %>
      </div>
    </div>
  </div>
  <div id="admin-metadata" class="span4">
    <div id="admin-metadata">
    <div class="control-group">
      <%= b.label "State",  :class=>"control-label" %>
      <div class="controls">
        <%= render :partial => 'shared/lae/workflow_state_badge', locals: {object: @folder} %>
      </div>
    </div>
    <div class="control-group">
      <%= b.label "Folder Number", :class=>"control-label" %>
      <div class="controls">
        <%= b.text_field :physical_number %>
      </div>
    </div>

    <div class="control-group">
      <%= b.label :barcode, :class=>"control-label" %>
      <div class="controls">
        <%= b.text_field :barcode %>
      </div>
    </div>
    <div class="control-group">
      <%= b.label :error_note, :class=>"control-label" %>
      <div class="controls">
        <%= b.text_area :error_note, cols: 50, rows: 3 %>
      </div>
    </div>
    <div class="control-group">
      <%= b.label :suppressed, :class=>"control-label" %>
      <div class="controls">
        <%= b.check_box :suppressed, { class: 'checkbox' }, "true", "false" %>
      </div>
    </div>
    <div class="control-group">
      <%= b.label :rights, :class=>"control-label" %>
      <div class="controls">
        <%= b.text_area :rights, cols: 50, rows: 6 %>
      </div>
    </div>
    </div>
    <div class="control-group">
      <%= b.label "Width x Height (cm)", class: 'control-label' %>
      <div class="controls">
        <div class="input-prepend">
          <%= b.text_field :width_in_cm, class: 'input-mini', placeholder: 'Width'  %>
        </div>
        <span> X </span>
        <div class="input-append">
          <%= b.text_field :height_in_cm, class: 'input-mini', placeholder: 'Height'   %>
       </div>
      </div>
    </div>
    <div class="control-group">
    <%= b.label :page_count, class: 'control-label' %>
      <div class="controls">
        <%= b.text_field :page_count, class: 'input-small', placeholder: "Num Pages" %>
      </div>
    </div>
  </div>
 </div>
 <div class="row">
  <div class="actions span2 offset4">
    <%= b.submit :value => "Update Folder", :class => 'btn btn-primary btn-large' %>
  </div>
</div>
</div>
<% end %>
