<% unless @pages_list.blank? %>
  <h2><%= @pages_list.size %> Images</h2>
  <ol id="page-thumbnails">
  <% @pages_list.each do |page| %>
    <li>
      <a href="<%= pul_store_page_path(page['id']) %>">
        <img data-sort-order="<%= page['desc_metadata__sort_order_isi'] %>" 
             src="<%= pul_store_iiif_path(page['id'], {size: "!200,200"}) %>"
             alt="<%= page['desc_metadata__display_label_ssm'] %>" >
        <p class="caption"><%= page['desc_metadata__display_label_ssm'] %></p>
      </a>
    </li>
  <% end %>
  </ol>
<% end %>
