<% 

  osd_config = {
    crossOriginPolicy: true,
    preserveViewport: true, 
    visibilityRatio: 1
  }
%>
<% unless @pages_list.blank? %>
  <h2><%= pluralize(@pages_list.size, 'Images') %></h2>
  <ol id="page-thumbnails">
  <% @pages_list.each do |page| %>
    <li>
      <a class="btn btn-link" data-toggle="modal" data-target="<%= pul_store_page_modal_target(page['id']) %>">
        <img data-sort-order="<%= page['desc_metadata__sort_order_isi'] %>" 
             src="<%= pul_store_iiif_path(page['id'], {size: "!200,200", quality: "default" }) %>"
             alt="<%= page['desc_metadata__display_label_ssm'] %>" >
        <p class="caption">
          <%= page['desc_metadata__display_label_ssm'] %>
          <%= page['desc_metadata__sort_order_isi'] %>
        </p>
      </a>
      <div class="modal osd-modal" id="<%= pul_store_page_model_string(page['id']) %>" tabindex="-1" role="dialog" aria-labelledby="<%= page['desc_metadata__display_label_ssm'] %>" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
              <h4 class="modal-title" id="myModalLabel">
                <%= page['desc_metadata__display_label_ssm'] %>
              </h4>
            </div>
            <div class="modal-body">
              <div class="viewer" id="osd<%= pul_store_page_model_string(page['id']) %>">
                <% id_to_show = id_label_for_page(page) %>
                <script>
    $('#<%= pul_store_page_model_string(page['id']) %>').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget); // Button that triggered the modal
        //var modal = $(this);
        //var viewer = modal.find('.viewer');
        // viewer.iiifOsdViewer({
        //   data: [{
        //     iiifServer: 'http://libimages.princeton.edu/loris2',
        //     images: <%= raw id_to_show.to_json %> }
        //   ]
        // });
        var osd_config = {
            id: "osd" + <%= pul_store_page_model_string(page['id']) %>,
            prefixUrl: "js/openseadragon/images/",
            preserveViewport: true,
            showNavigator:  true,
            visibilityRatio: 1,
            minZoomLevel: 1,
            tileSources: ["<%= pul_store_iiif_info_path(page['id']) %>"]
        }
        var osd = OpenSeadragon(osd_config);
      });
    </script>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </li>
  <% end %>
  </ol>
<% else %>
  <h2>No Images Assigned</h2>
<% end %>