<% 

  osd_config = {
    crossOriginPolicy: true,
    preserveViewport: true, 
    visibilityRatio: 1
  }
%>
<% unless @pages_list.blank? %>
  <h2><%= pluralize(@pages_list.size, 'Images') %></h2>
  <ol id="page-thumbnails">
  <% @pages_list.each do |page| %>
    <li>
      <a class="btn btn-link" href="/catalog/#{page['id]">
        <img data-sort-order="<%= page['desc_metadata__sort_order_isi'] %>" 
             src="<%= pul_store_iiif_path(page['id'], {size: "!200,200", quality: "default" }) %>"
             alt="<%= page['desc_metadata__display_label_ssm'] %>" >
        <p class="caption">
          <%= page['desc_metadata__display_label_ssm'] %>
          <%= page['desc_metadata__sort_order_isi'] %>
        </p>
      </a>
    </li>
  <% end %>
  </ol>
<% else %>
  <h2>No Images Assigned</h2>
<% end %>