<h1>Update Folder <%= @folder.physical_number %> - Box <%= lae_folder_get_box_number @folder.box_id %></h1>
<%= render :partial => 'shared/lae/workflow_state', locals: {object: @folder} %>
<div class="row well">
  <%= render 'form' %>
</div>

<%= link_to 'Show', @folder %> |
<% if(!@folder.box_id.blank?) %>
  <%= link_to 'Return to editing to Box', edit_lae_box_path(@folder.box_id) %> |
<% end %>
<%= link_to 'Back to Folders', lae_folders_path %>
