<h1 class="folder-title lae-head">
  <% if !@folder.title.empty? %>
    <%= @folder.title.first %>
  <% else %>
    [Title not yet supplied]
  <% end %>
</h1>

<div class="row">
  <%= render :partial => 'breadcrumb' %>
</div>

<div class="btn-group">
  <%= link_to 'Edit This Folder', edit_lae_folder_path(@folder), class: "btn btn-primary" %> |
  <% if(!@folder.box_id.blank?) %>
    <%= link_to 'Return to Box', edit_lae_box_path(@folder.box_id), class: "btn btn-info" %>
  <% end %>
</div>

<div class="row">
    <%= render :partial => 'folder_attributes' %>
  </div>
<!-- other fields to display -->


