<h1 class="folder-title lae-head">
  <% if !@folder.title.empty? %>
    <%= @folder.title.first %>
  <% else %>
    [Title not yet supplied]
  <% end %>
</h1>

<div class="row-fluid">
  <%= render :partial => 'breadcrumb' %>
</div>


<div class="row-fluid">
  <ul class="nav nav-pills">
    <li><%= link_to 'Edit This Folder', edit_lae_folder_path(@folder), class: "btn btn-info" %></li>
    <% if(!@folder.box_id.blank?) %>
      <li>
        <%= link_to "Return to Box #{lae_folder_get_box_number(@folder.box_id)}", edit_lae_box_path(@folder.box_id), class: "btn btn-info" %>
      </li>
    <% end %>
  </ul>
</div>

<div class="row-fluid">
    <%= render :partial => 'folder_attributes' %>
  </div>
<!-- other fields to display -->
<div class="btn-group btn-group-lg btn-toolbar" role="toolbar">
  <div id="pull-full-view" class="btn btn-default active">
    <%= link_to(lae_folder_image_list_path(@folder.id)) do %>
      <%= fa_icon 'photo' %>
      Full Image
    <% end %>
  </div>
  <div id="pul-grid-view" class="btn btn-default active">
    <%= fa_icon 'th' %>
    Grid
  </div>
</div>
<%= render :partial => 'pages_list' %>



