<h1>Listing Folders</h1>

<%= render 'quick_lookup' %>

<table>
  <thead>
    <tr>
      <th>Barcode</th>
      <th>PID</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @folders.each do |folder| %>
      <tr>
        <td><%= folder.barcode %></td>
        <td><%= folder.pid %></td>
        <td><%= link_to 'Show', folder %></td>
        <td><%= link_to 'Edit', edit_lae_folder_path(folder) %></td>
        <td><%= link_to 'Destroy', folder, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Folder', new_lae_folder_path %>
