<%= form_for(@box) do |b| %>
  <% if @box.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@box.errors.count, "error") %> prohibited this Box from being saved:</h2>
      <ul>
      <% @box.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= b.label "Scan a #{:barcode}" %><br>
    <%= b.text_field :barcode %>
  </div>

   <div class="actions">
      <%= b.submit %>
   </div>
<% end %>
