<table class="table" id="folders-table">
    <thead>
      <tr>
        <th class="header headerSortUp">Folder Number</th>
        <th>State</th>
        <th>Title</th>
        <th class="header headerSortUp">Barcode</th>
        <th class="header headerSortUp">Genre</th>
        <th>Options</th>
      </tr>
    </thead>
    <tbody>
    <% @folder_list.each do |f| %>
      <tr>
        <td><%= f['prov_metadata__physical_number_ssi'] %></td>
        <td>
          <span class="label label-large <%= pul_store_base_state_to_label(f['prov_metadata__workflow_state_tesim'][0], "label") %>" >
            <%= f['prov_metadata__workflow_state_tesim'][0] %>
          </span>
        </td>
        <td><% if !f['desc_metadata__title_tesim'].nil? %><%= f['desc_metadata__title_tesim'][0] %><% else %>[Not Yet Supplied]<% end %></td>
        <td><%= f['prov_metadata__barcode_tesim'][0] %></td>
        <td><%= f['desc_metadata__genre_tesim'][0] %></td>
        <td>
          <% if can?(:edit, @box) %>
            <%= link_to "Edit", edit_lae_folder_path(f['id']), :class => "btn btn-info" %>
          <% end %>
        </td>
      </tr>
  <% end %>
  </tbody>
  </table>