<%= form_for(@box, :html => {:class => "form form-horizontal"}) do |b| %>
  <% if @box.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@box.errors.count, "error") %> prohibited this Box from being saved:</h2>
      <ul>
      <% @box.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<!-- :full,
:tracking_number,
:shipped_date, # checkbox, stamp if set
:received_date, # checkbox, stamp if set
:barcode,
:error_note -->
  <%= render :partial => 'shared/lae/workflow_state', locals: {object: @box} %>

  <div class="field">
    <%= b.label :barcode %><br>
    <%= b.text_field :barcode %>
  </div>
  <div class="field">
    <%= b.label :error_note %><br>
    <%= b.text_area :error_note %>
  </div>
  <div class="field">
    <%= check_box_tag(:full) %>
    <%= label_tag(:full, "Full Box") %>
  <div>

  <% if(@box.folders.empty?) %>
    <h3>Create a Folder</h3>
  <% else %>
    <h3><%= @box.folders.size %> Current Folders</h3>
  <% end %>

  <table class="table" id="folders-table">
    <thead>
      <tr>
        <th>Barcode</th>
        <th>Genre</th>
        <th>Width</th>
        <th>Height</th>
        <th>Pages</th>
        <th>Options</th>
      </tr>
    </thead>
    <tbody>
    <% folder_index = 0 %>
    <%= b.fields_for :folders do |folders_form| %>
      <tr>
        <td><%= folders_form.text_field :barcode %></td>
        <td><%= folders_form.text_field :genre %></td>
        <td><%= folders_form.text_field :width_in_cm, :size => 5 %></td>
        <td><%= folders_form.text_field :height_in_cm, :size => 5 %></td>
        <td><%= folders_form.text_field :page_count, :size => 5 %></td>
        <td>
          <% if(@box.folders.size > 0) %>
            <% if can?(:edit, @box) %>
              <%= link_to "Edit Folder", edit_lae_folder_path(@box.folders[folder_index].id) %>
            <% end %>
          <% end %>
        </td>
        <% folder_index = folder_index + 1 %>
      </tr>
  <% end %>
  </tbody>
  </table>
  <div class="actions">
    <%= b.submit %>
  </div>
<% end %>




