<div class="row">
<%= form_for(@box, :html => {:class => "form form-horizontal"}) do |b| %>
  <% if @box.errors.any? %>
    <div class="row" id="error_explanation">
      <h2><%= pluralize(@box.errors.count, "error") %> prohibited this Box from being saved:</h2>
      <ul>
      <% @box.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<!-- :full,
:tracking_number,
:shipped_date, # checkbox, stamp if set
:received_date, # checkbox, stamp if set
:barcode,
:error_note -->
  <div class="span5">
  <div class="control-group">
    <%= b.label :barcode, :class => 'control-label' %>
    <div class="controls">
      <%= b.text_field :barcode, class: 'barcode' %>
    </div>
  </div>
  <div class="control-group">
    <%= b.label :error_note, :class => 'control-label' %>
    <div class="controls">
      <%= b.text_area :error_note %>
    </div>
  </div>
  <div class="control-group">
    <%= b.label 'Mark Box Full', :class => 'control-label' %>
    <div class="controls">
      <%= b.check_box :full, { class: 'checkbox' }, "true", "false" %>
    </div>
  </div>
</div>
<div class="span3">
  <div class="control-group">
      <%= b.label "State",  :class=>"control-label" %>
      <div class="controls">
        <%= render :partial => 'shared/lae/workflow_state_badge', locals: {object: @box} %>
      </div>
    </div>
  <div class="control-group">
    <%= b.label :shipped_date, :class => 'control-label' %>
    <div class="controls">
      <%= b.text_field :shipped_date, :class => 'datepicker input-small' %>
    </div>
  </div>
  <div class="control-group">
    <%= b.label :received_date, :class => 'control-label' %>
    <div class="controls">
      <%= b.text_field :received_date, :class => 'datepicker input-small' %>
    </div>
  </div>
  <div class="control-group actions">
    <div class="controls">
      <%= b.submit :value => "Update Box", :class => 'btn btn-primary btn-large' %>
    </div>
  </div>
</div>
<% end %>
</div>
<!-- end row -->
<div class="row">
  <h3>
   <% if(@box.folders.empty?) %>
    <span id="folder-count">No&nbsp;</span>
  <% else %>
    <span id="folder-count"><%= @box.folders.size %>&nbsp;</span>
  <% end %>
  Folders</h3>
<!-- start modal -->
   <div class="form-control">
    <%= link_to("Add Folder to Box", '#', 'data-target' => "#new-folder-modal", 'data-toggle' => 'modal', :class => "btn btn-success btn-large lae-new pull-left new-model", :title => "Add a New Folder to Box") %>
  </div>
      <div id="new-folder-modal" class="modal fade" data-backdrop="static">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h3>Add a Folder to Box <%= @box.physical_number unless @box.barcode.nil? %></h3>
        </div>
        <div class="modal-body">
          <%= render :partial => 'pul_store/lae/folders/ajax_form', locals: { box: @box } %>
        </div>
      </div>
    </div>
  <!-- end Modal -->
</div>
  <table class="table" id="folders-table">
    <thead>
      <tr>
        <th class="header headerSortUp">Folder Number</th>
        <th>State</th>
        <th>Title</th>
        <th class="header headerSortUp">Barcode</th>
        <th class="header headerSortUp">Genre</th>
        <th>Options</th>
      </tr>
    </thead>
    <tbody>
    <% @box.folders.sort_by {|f1| f1.physical_number.to_i }.reverse!.each do |f| %>
      <tr>
        <td><%= f.physical_number %></td>
        <td><%= render :partial => 'shared/lae/workflow_state_badge', locals: {object: f }  %></td>
        <td><% if !f.title.empty? %><%= f.title.first %><% else %>[Not Yet Supplied]<% end %></td>
        <td><%= f.barcode %></td>
        <td><%= f.genre %></td>
        <td>
          <% if(@box.folders.size > 0) %>
            <% if can?(:edit, @box) %>
              <%= link_to "Edit", edit_lae_folder_path(f.id), :class => "btn btn-info" %>
            <% end %>
          <% end %>
        </td>
      </tr>
  <% end %>
  </tbody>
  </table>





