<div class="container" id="main-container">
	<div class="row">
		<h1>Box <%= @box.physical_number %></h1>
		<p id="notice"><%= notice %></p>
	</div>
	<div class="row">
  		<%= render :partial => 'breadcrumb' %>
	</div>
	<div class="row">
		<div class="span4 offset1">
			<% if can?(:edit, @box) %>
  				<%= link_to 'Edit this Box', edit_lae_box_path(@box), :class => 'btn btn-primary' %>
			<% end %>
		</div>
	</div>
	<div class="row">
		<%= render :partial => 'box_attributes' %>
	</div>
	<div class="row">
	  <div class="span9">
		<%= render :partial => 'folders_table' %>
	  </div>
	</div>
</div>
