<p id="notice"><%= notice %></p>

<p>
  <strong>Box <%= @box.physical_number %></strong>
</p>
<%= render :partial => 'shared/lae/workflow_state', locals: {object: @box} %>
<% if can?(:edit, @box) %>
  <%= link_to 'Edit', edit_lae_box_path(@box) %> |
<% end %>


<%= link_to 'Back', lae_boxes_path %>

