<div class="container" id="main-container">
	<div class="row">
		<h1>Box <%= @box.physical_number %></h1>
		<p id="notice"><%= notice %></p>
	</div>
	<div class="row">
  		<%= render :partial => 'breadcrumb' %>
	</div>
	<div class="row">
		<%= render :partial => 'shared/lae/workflow_state', locals: {object: @box} %>
	</div>
	<div class="row">
		<% if can?(:edit, @box) %>
  			<%= link_to 'Edit', edit_lae_box_path(@box) %> |
		<% end %>


		<%= link_to 'Back', lae_boxes_path %>
	</div>
</div>
