<p id="notice"><%= notice %></p>

<dl>
  <dt><strong>Barcode:</strong></dt>
  <dd><%= @hard_drive.barcode %></dd>
  <dt><strong>Box Barcode:</strong></dt>
  <dd><%= @hard_drive.box.barcode if !@hard_drive.box.blank? %></dd>
  <dt><strong>State:</strong></dt>
  <dd><%= @hard_drive.state %></dd>
  <dt><strong>Error Note:</strong></dt>
  <dd><%= @hard_drive.error_note %></dd>
</dl>

<%= link_to 'Edit', edit_lae_hard_drive_path(@hard_drive) %> |
<%= link_to 'Back', lae_hard_drives_path %>
