<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @item.type %>
</p>

<p>
  <strong>Title:</strong>
  <%= @item.title %>
</p>

<p>
  <strong>Sort title:</strong>
  <%= @item.sort_title %>
</p>

<p>
  <strong>Creator:</strong>
  <%= @item.creator %>
</p>

<p>
  <strong>Contributor:</strong>
  <%= @item.contributor %>
</p>

<p>
  <strong>Date created:</strong>
  <%= @item.date_created %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
