<h1>Listing texts</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>Subject</th>
      <th>Language</th>
      <th>Toc</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @texts.each do |text| %>
      <tr>
        <td><%= text.description %></td>
        <td><%= text.subject %></td>
        <td><%= text.language %></td>
        <td><%= text.toc %></td>
        <td><%= link_to 'Show', text %></td>
        <td><%= link_to 'Edit', edit_text_path(text) %></td>
        <td><%= link_to 'Destroy', text, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Text', new_text_path %>
